.announcement-icon {
  padding-right: 10px;
  font-size: 26px;
}

.announcement-container {
  padding-top: 30px;
}

.announcement-section {
  padding-top: 0px;
}

.announcement-status {
  display: inline;
  position: absolute;
}

.marked-number {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.manager-address {
  font-size: 10px;
  font-style: italic;
}

.custom-button {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background: #00ad5f;
  border-radius: 22px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  padding: 8px;
}

.manager-warning {
  color: red;
  padding-bottom: 10px;
}

.manager-section {
  padding-top: 100px;
}

.no-meta-mask {
  width: 100wh;
  height: 100vh;
}

.contract-info-container {
  color: white;
  margin-top: 70px;
  font-size: 9px;
}

.remote-link {
  font-size: inherit;
  color: inherit;
  font-style: italic;
}

.network-warning {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 10px;
  color: red;
  text-align: center;
  padding-bottom: 0px;
}

.announcement-title {
  font-size: 27px;
  font-weight: 400;
  padding-bottom: 10px;
}

.refresh-button {
  text-decoration: none !important;
  display: inline;
  font-size: 18px;
  cursor: pointer;
}

.refresh-icon {
}

.refresh-text {
  text-decoration: underline;
  padding-right: 5px;
  padding-left: 15px;
}
